{% extends "base.html" %}
{% load static %}
{% block body %}
    <link rel="stylesheet" href="{% static "css/query.css" %}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div class="msg">
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-{{msg.tags}}" style="padding:1px; margin: 10px; float: right;" role="alert">
                    <h5 class="alert-heading">{{msg}}</h5>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container"style='margin-top:60px'>
        <div class="newform">
        <form  id="queryForm">
            {% csrf_token %}
            <input type="text" placeholder="company name" id="Companyname">
            <input type="text" placeholder="Domain" id="Domain">
            <input type="text" placeholder="Year Founded" id="Yearfounded">
            <input type="text" placeholder="Country" id="Country">
            <input type="text" placeholder="Current employees" id="Currenteployees">
            <input type="text" placeholder="Total employees" id="Totalemployees">
            <button type="submit" class="btn btn-dark btn-sm mx-1" value="Submit" id="submit">Submit</button>
        </form>
        <div id="results"></div>
        </div>
    </div>
    <script src="{% static "js/style.js" %}"></script>
{% endblock body %}