{% extends "base.html" %}
{% load static %}
{% block body %}
    <link rel="stylesheet" href="{% static "css/upload.css" %}"/>
    <div class="container">
        <div class="msg">
            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-{{msg.tags}}" style="padding:1px; margin: 10px; float: right;" role="alert">
                        <h5 class="alert-heading">{{msg}}</h5>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="excelpage">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}  
                <input type="submit" class="button" id="submit" value="Submit">
            </form>
        </div>
    </div>
    <script src="{% static "js/upload.js" %}"></script>
{% endblock body %}